<!DOCTYPE html>
<!--这句声明使用thymeleaf标签,必须要-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf的入门</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--
输出hello数据
这句使用 th:text="${变量名}" 表示 使用thymeleaf获取文本数据，类似于EL表达式。
thymeleaf：都是作用于HTML标签之上
-->
     <p th:text="${hello}">xxx</p>
<!--  <form id="login" th:action="@{/test/hello}" method="post">-->
<!--      <button>提交</button>-->
<!--  </form>-->
<!--        [[ ${hello}]]-->



</body>
<table border="1" >
    <tr>
        <td>下标</td>
        <td>用户名</td>
        <td>密码</td>
        <td>姓名</td>
    </tr>
    <tr th:each="user, status: ${users}">
        <td>[[${status.count}]]</td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.name}"></td>
    </tr>
<!--    <h1>方式1</h1>-->
    <div>
        获取Key=NO的值：<span th:text="${dataMap.No}"></span><br/>
        获取key=address的值：<span th:text="${dataMap.address}"></span> <br/>
    </div>
    <h2>方式2</h2>
    <div th:each="map:${dataMap}">
        <span th:text="${map.key}"></span>:
        <span th:text="${map.value}"/>
        </span>

    </div>

    <div th:each="nm,nmStat:${names}">
        <span th:text="${nmStat.count}"></span><span th:text="${nm}"></span>
        ==============================================
    </div>
    <div>
        <span th:text="${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}"/>

    </div>
    <div>
        <span th:if="${age>=18}">终于长大了</span>
        <span th:unless="${age<18}">成年了</span>
    </div>

    <div th:include="footer :: copy">

    </div>
</table> 
</html>